body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color:black;
    display: block;
    margin-bottom:2%;
}

a:hover{
    text-decoration: underline;
}

.pong, .mario{
    display: inline-block;
    width: 45%;
    float:left;
}